/* 홈페이지 가이드라인 설정 */
header .top {
  margin: 0 auto;
  width: 1200px;
  padding: 0 0 26px;
}

/* 헤더 로고 좌측 정렬 */
header .top h1 {
  float: left;
  padding: 33px 0 0;
}

/* 헤더 위 아래 실선 */
header .btm {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

/* 네비게이션/로그인 가운데 영역으로 */
header .btm > div {
  margin: 0 auto;
  width: 1200px;
}

/* 네비게이션바  헤더 안에서 왼쪽 정렬 */
header .btm .lnb {
  float: left;
}

.lnb > ul >li {
  display: block;
}

/* 네비게이션바 수평 정렬 */
header .btm .lnb li {
  float: left;
}

/* 네비게이션 버튼 <a>태그 여백 */
header .btm .lnb a {
  display: block;
  line-height: 59px;
  padding: 0 40px;
  color: #333;
  font-size: 22px;
}

header .btm .lnb li {
  float: left;
}

header .btm .lnb li > ul {
  display: none;
}

header .btm .lnb ul li:hover ul {
  display: block;
 }

/* 네비게이션바 서브 메뉴 수평정렬 */


/* 로그인바 오른쪽 정렬 */
header .btm .login {
  float:right;
  text-align: center;
  font-size: 0px;
  width : 30%;
}

/* 로그인바 버튼 <a>태그 여백 */
header .btm .login a {
  display: inline-block;
  position: relative;
  padding: 0 25px;
  line-height: 59px;
  font-size: 15px;
  color: #666;
}

/* 버티컬바 생성 및 가운데 정렬 */
header .btm .login a ~ a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  background: #e3e3e3;
  transform: translateY(-50%);
}

/* 검색바 */

.search-box{
  padding: 15px;
  position: absolute;
  top: 105px;
  left: 1050px;
  transform: translate(-50%,-50%);
  height: 30px;
  background-color: #fff;
  border: 1px solid #51e3d4;
  border-radius: 30px;
  transition: 0.4s;
  width:490px;
  box-shadow: 0px 0px .5px 1px #51e3d4;
}

.search-btn{
  text-decoration: none;
  float: right;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;

  align-items: center;
  color: #51e3d4;
}

.search-txt{
  display: flex;
  padding: 0;
  width: 5px;
  border:none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  transition: .4s;
}
.search-box:hover > .search-txt{
  width: 100px;
  padding: 0 6px;
}



/* 돋보기 버튼 꾸미기 */
header .btm .login button {
  width: 59px;
  height: 59px;
  background: none;
  color: #00adef;
  font-size: 26px;
}

/* 메인 */

/* 이미지 슬라이더 */
.slider {
  width: 100%;
  height: 550px;
  position: relative;
  z-index:0;
}
.slide {
  width: 100%;
  height: 550px;
  background-size: cover;
  border-radius: 10px;
  animation: fade 1.5s;
  display: none;
}

/* 이미지 이전,다음 버튼 */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: rgb(248, 248, 248);
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 5px;
}
.next {
  right: 0;
}

/* 버튼에 커서 올릴 때 효과 */
.prev:hover,
.next:hover {
  background-color: rgba(190, 190, 190, 0.5);
}

/* 이미지 밝기 변화 */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#menu1 {
  float:center;
  background: white;
  height: 50px;
  z-index : 2;
  float: left;
  width:70%;
}

#menu1 ul {
  width:800px;
  margin:0 auto;
  position:relative;
  z-index : 2;

}

#menu1 .main>li {
  float:left;
  width:25%;
  height:50px;
  line-height:50px;
  text-align: center;
  background:white;
  z-index : 2;
  font-size:15px;
}

#menu1 .main>li:hover .menu2 {
  display:block;

}

#menu1 .main>li a {
  display: block;
}

#menu1 .main>li a:hover {
  background :gray;
  color: #fff;

}

#menu1 .menu2 {
  position: absolute;
  top:50px;
  left:0;
  width:100%;
  display:none;
  z-index : 2;
}

#menu1 .sub {
  float:left;
  width:25%;
}

#menu1 .sub li {
  background:white;

}

#menu1 .main .sub li a:hover {
  background: #00BFFF;
}

p {
  background-color: skyblue;
  font-weight: 700;
}
