  .login{
    text-align:center;
    width:360px;
    margin:0 auto;
  }
  
  .id{
    width: 500px;
    height:50px;
    margin: 5% 0;
  }

  .id_pw_textBox {
    display: flat;
    margin: 5% 0;    
  }

  .password {
    width: 500px;
    height:50px;
  }
  
  .remember_id {
    margin: 5% 0;
    text-align:left;
  }

  .login_button{
    width: 510px;
    height:50px;
    background: #F22C78;
    color: white;
    font-weight: bold ; /*글씨 굵게*/
    font-size: 1.2em;/*, 숫자% 또는 숫자em ; /*글씨 크기*/
    border: none;
    margin: 5% 0;
  }

  .user_find_register {
    display: inline-block;
    text-decoration: none;
    margin: 5% 0;
    left: 50%;  
  }

  .user_find_register a {
    text-decoration: none; /*하이퍼링크 밑줄 제거*/
    color: black;
    margin: 5% 0; 
  }

  .btn_register { 
    width: 250px;
    height:50px;
  }

  .btn_findUser {
    width: 250px;
    height:50px;
  }

  .login_header {
    margin-top: 50px;
  }

  .login_div {
    position: relative;
    right: 60px;
  }