.main{
  text-align:center;
}
.main_title{
  font-size:5em;
  font-weight:bold;
  color : darksalmon;
}
.main_subtitle{
  font-size:1.25em;
}
.review{
  margin:0 auto;
  margin-top:50px;
  width:800px;
  border:1px solid black;
  border-radius: 10px;
}
