.serchId {
  text-align:center;
  width:360px;
  margin:0 auto;
}

.serch_head{
  margin-top: 50px;
}

.serchId_div{
  position: relative;
  right: 60px;
}

.serch_name, .serch_email {
  display: flat;
  margin: 5% 0;
}

.name{
  width: 500px;
  height:50px;
  margin: 5% 0;
}

.email {
  width: 500px;
  height:50px;
}

.serch_submit{
  width: 510px;
  height:50px;
  background: #F22C78;
  color: white;
  font-weight: bold ; /*글씨 굵게*/
  font-size: 1.2em;/*, 숫자% 또는 숫자em ; /*글씨 크기*/
  border: none;
  margin: 5% 0;
}
